/* Global CSS - Material-UI gestisce la maggior parte dello styling */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
}

.MuiBox-root code {
    background-color: rgb(12 104 15);
    padding: 4px;
    border-radius: 8px;
    font-family: monospace;
}
