/* Global CSS - Material-UI gestisce la maggior parte dello styling */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
}

.MuiBox-root code {
    background-color: rgb(12 104 15) !important;
    padding: 4px !important;
    border-radius: 8px !important;
    font-family: monospace !important;
}
